body {
		background-color: 404448;
		padding-top: 2%;
		color: FAFBFC;
		text-align: center;
}
#form {
	text-align: center;
}

#dataTable {
	text-align: center;
	table-layout: center;
}


#h3 {
	color: FAFBFC;
}

a {
	color: AFD135;
}

h1 {
	color: FAFBFC;
}

.instructions {
	text-align: left;
	padding-right: 5%;
	padding-left: 5%;
}

.title {
	padding-top: 2%;
}

.form {
	text-align: center;
}

p {
	padding: 2%;
}

.fbarrows {
	display: none;
}

.imageButton {
	padding: 2%;
}

.address {
	display: none;
}
